<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <link rel="stylesheet" href="scss/styles.scss">
</head>

<body>
  <div>MON HEADER</div>

  <div class="wrapper">
    {{ partial "layout/sidebar.html" . }}

    <div class="content">
      {{ block "main" . }} Aucun contenu défini. Éditez le ! {{ end }}
    </div>
  </div>

  <script src="script.js"></script>
</body>

</html>